.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
  }

  .indie-flower-title {
    font-family: "Indie Flower", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
  }

  .main-text-color {
    color: #474158;
  }

  .main-bg-color {
    background-color: #BDB1A3;
  }

  .container-bg-color {
    background-color: #F5E9DF;
  }

  .confirm-text-color {
    color: #A77E56;
  }

  .cancel-text-color {
    color: #C27446;
  }
