.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
  }

  .indie-flower-title {
    font-family: "Indie Flower", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
  }

  .main-text-color {
    color: #36403C;
  }

  .main-bg-color {
    background-color: #BFBFBF;
  }

  .container-bg-color {
    background-color: #8C8C8C;
  }

  .btn-main-color {
    color: #0D0D0D;
    background-color: #F2F2F2;
  }

  .btn-main-color:hover {
    color: #F2F2F2;
    background-color: #0D0D0D;
  }